@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide spinner arrows from number inputs */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
}